{
	"printWidth": 120,
	"tabWidth": 4,
	"trailingComma": "all",
	"useTabs": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrder": ["^typescript$", "^@rbxts/(.*)$", "^[../]", "^[./]"],
	"importOrderParserPlugins": ["typescript", "decorators-legacy"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
